[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.4",
    "opencv-python-headless>=4.11.0.86",
    "pillow>=12.0.0",
    "pymupdf>=1.26.6",
    "pyzbar>=0.1.9",
    "streamlit>=1.51.0",
]
